<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310262612203-ictf7bvhr3r1ksov8ki0po2vk002gqm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310262612203-ictf7bvhr3r1ksov8ki0po2vk002gqm9</string>
	<key>API_KEY</key>
	<string>AIzaSyAUmnw7MhSXmMOARMEjC_U58TlaqEjyaa0</string>
	<key>GCM_SENDER_ID</key>
	<string>310262612203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>loyd.app.example.flutter.com.chatapploydlab</string>
	<key>PROJECT_ID</key>
	<string>chatapptest-fc159</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapptest-fc159.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310262612203:ios:bdda7f03db0b7f3771feae</string>
	<key>DATABASE_URL</key>
	<string>https://chatapptest-fc159.firebaseio.com</string>
</dict>
</plist>